:root .theme_dark {
  --main-font: 'IBM Plex mono';
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --header-theme-color: #ff0070;
  --title-color: #DB00FF;
  --title-shadow-color: #ff0070;
  --accent-color: #ff0070;
  --description-color: #000028;
  --section-heading-color: #ff0070;
  --paragraph-font-color: #F1B2CE;
  --menu-button-hover: #FF007066;
}

.theme_dark .dark_theme_decorative_element::before {
  content: "REC";
  color: var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

.theme_dark .dark_theme_decorative_element::after {
  content: "";
  display: inline-block;
  inline-size: 10px;
  block-size: 10px;
  margin-inline-start: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}
