:root .theme_light {
  --background-color: #fff1f7;
  --main-font-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --title-shadow-color: #ff0070;
}

.theme_light .header {
  background-image: url(../images/cover-image-light.png);
}

.theme_light .dark_theme_decorative_element::before {
  content: "";
}

.theme_light .dark_theme_decorative_element::after {
  content: "";
  inline-size: 0px;
  block-size: 0px;
}

.theme_light .decorated-zone::before {
  border-top: 1px solid var(--main-font-color);
  border-right: 1px solid var(--main-font-color);
}

.theme_light .decorated-zone::after {
  border-bottom: 1px solid var(--main-font-color);
  border-left: 1px solid var(--main-font-color);
}

.theme_light .heading {
  color: var(--title-color);
}

.theme_light .main__heading {
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

.theme_light .header__description {
  color: var(--main-font-color);
}

.theme_light .header__theme-menu-button {
  color: var(--main-font-color);
  border: solid transparent;
}

.theme_light .header__theme-menu-button_type_light {
  border: solid var(--main-font-color) 1px;
}

.theme_light .header__theme-menu-button:hover {
  border: solid #32312d66 1px;
}

.theme_light .header__theme-menu-button:focus-visible {
  border: none;
  border-bottom: var(--main-font-color) solid 1px;
}

.theme_light .section__heading {
  color: var(--main-font-color);
}

.theme_light .item__heading {
  color: var(--main-font-color);
}

.theme_light .advice__heading {
  color: var(--main-font-color);
}

.theme_light .paragraph__text {
  color: var(--main-font-color);
}

.theme_light .footer__heading {
  text-shadow: 2px 2px 0 var(--title-shadow-color);
}

.theme_light .link:hover {
  border-bottom: var(--main-font-color) solid 1px;
}

.theme_light .link:focus-visible {
  outline: none;
  border: var(--main-font-color) solid 1px;
}

@media (prefers-color-scheme: light) {
  :root .theme_light {
    --background-color: #fff1f7;
    --main-font-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --title-shadow-color: #ff0070;
  }

  .theme_light .header {
    background-image: url(../images/cover-image-light.png);
  }

  .theme_light .dark_theme_decorative_element::before {
    content: "";
  }

  .theme_light .dark_theme_decorative_element::after {
    content: "";
    inline-size: 0px;
    block-size: 0px;
  }

  .theme_light .decorated-zone::before {
    border-top: 1px solid var(--main-font-color);
    border-right: 1px solid var(--main-font-color);
  }

  .theme_light .decorated-zone::after {
    border-bottom: 1px solid var(--main-font-color);
    border-left: 1px solid var(--main-font-color);
  }

  .theme_light .heading {
    color: var(--title-color);
  }

  .theme_light .main__heading {
    text-shadow: 4px 4px 0 var(--title-shadow-color);
  }

  .theme_light .header__description {
    color: var(--main-font-color);
  }

  .theme_light .header__theme-menu-button {
    color: var(--main-font-color);
    border: solid transparent;
  }

  .theme_light .header__theme-menu-button_type_light {
    border: solid var(--main-font-color) 1px;
  }

  .theme_light .header__theme-menu-button:hover {
    border: solid #32312d66 1px;
  }

  .theme_light .header__theme-menu-button:focus-visible {
    border: none;
    border-bottom: var(--main-font-color) solid 1px;
  }

  .theme_light .section__heading {
    color: var(--main-font-color);
  }

  .theme_light .item__heading {
    color: var(--main-font-color);
  }

  .theme_light .advice__heading {
    color: var(--main-font-color);
  }

  .theme_light .paragraph__text {
    color: var(--main-font-color);
  }

  .theme_light .footer__heading {
    text-shadow: 2px 2px 0 var(--title-shadow-color);
  }

  .theme_light .link:hover {
    border-bottom: var(--main-font-color) solid 1px;
  }

  .theme_light .link:focus-visible {
    outline: none;
    border: var(--main-font-color) solid 1px;
  }
}
