:root {
  --main-font: "IBM Plex mono";
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --header-theme-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --accent-color: #ff0070;
  --description-color: #000028;
  --section-heading-color: #ff0070;
  --paragraph-font-color: #f1b2ce;
  --menu-button-hover: #ff007066;
}

.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main {
  padding-inline: 20px;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  block-size: 100vh;
  min-block-size: 768px;
  padding: 20px;
  margin-block-end: 60px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 8px;
}

.header__theme-menu-button {
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  color: var(--header-theme-color);
  text-transform: lowercase;
  border: solid transparent 1px;
  padding: 3px 13px;
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
}

.header__theme-menu-button_active {
  border: solid var(--header-theme-color) 1px;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: solid var(--menu-button-hover) 1px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: solid var(--header-theme-color) 1px;
}

.dark_theme_decorative_element {
  position: absolute;
  right: 30px;
  top: 20px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  right: 20px;
  top: 20px;
  border-top: 1px solid var(--header-theme-color);
  border-right: 1px solid var(--header-theme-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-bottom: 1px solid var(--header-theme-color);
  border-left: 1px solid var(--header-theme-color);
  top: 720px;
  left: 20px;
}

.heading {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 129.53px;
  color: var(--title-color);
  align-self: center;
}

.main__heading {
  text-shadow: 4px 4px 0 var(--title-shadow-color);
  margin-left: -20px;
}

.title-decor {
  background-color: var(--accent-color);
  block-size: fit-content;
}

.header__description {
  max-inline-size: 491px;
  inline-size: 100%;
  font-size: 18px;
  font-weight: 700;
  color: var(--description-color);
  line-height: 23.4px;
  justify-self: end;
  align-self: center;
}

.section__heading {
  color: var(--section-heading-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.item__heading {
  color: var(--description-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.advice__heading {
  color: var(--description-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.paragraph__text {
  color: var(--paragraph-font-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.content__section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
}

.reasons__section {
  margin-block-end: 80px;
}

.reasons__section .list__item:not(:last-child) {
  margin-block-end: 20px;
}

.low__concentration__section {
  grid-template-rows: 10% 90%;
  row-gap: 18px;
  margin-block-end: 82px;
}

.low__concentration__section .section__heading {
  grid-column: span 2;
}

.low__concentration__section .list {
  display: grid;
  grid-column: span 2;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.adviсes__section {
  row-gap: 10px;
  margin-block-end: 80px;
}

.adviсes__section .section__heading {
  grid-row: span 2;
}

.adviсes__section .list__item:not(:last-child) {
  margin-block-end: 20px;
}

.images__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-block-start: 20px;
  margin-block-end: 60px;
}

.sunset__card__img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  grid-column: span 2;
}

.ice-cream__card__img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  grid-row: span 2;
}

.tape__card__img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  grid-row: span 2;
}

.books__card__img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.street__card__img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  grid-column: span 2;
}

.footer__heading {
  text-shadow: 2px 2px 0 var(--title-shadow-color);
}

.footer {
  display: flex;
  min-block-size: 768px;
  block-size: 100vh;
  inline-size: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: var(--paragraph-font-color) solid 1px;
}

.link:focus-visible {
  outline: none;
  border: var(--paragraph-font-color) solid 1px;
}

@media (width <= 768px) {
  .header {
    min-block-size: 1024px;
  }

  .header__theme-menu {
    justify-content: end;
    margin-block-start: 12px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .header__description {
    max-inline-size: 364px;
    margin-block-end: 16px;
  }

  .decorated-zone::after {
    content: "";
    top: 978px;
  }

  .reasons__section {
    column-gap: 20px;
  }

  .low__concentration__section .section__heading {
    grid-column: span 1
  }

  .low__concentration__section {
    row-gap: 24px;
    margin-block-end: 77px;
  }

  .low__concentration__section .list {
    display: block;
  }

  .low__concentration__section .list__item:not(:last-child) {
    margin-block-end: 19px;
  }

  .adviсes__section {
    column-gap: 20px;
  }

  .footer {
    min-block-size: 1024px;
  }
}

@media (width <= 500px) {
  .main {
    padding-inline: 10px;
  }

  .header {
    min-block-size: 668px;
    padding: 10px;
    margin-block-end: 40px;
  }

  .heading {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
  }

  .main__heading {
    margin-left: 0px;
  }

  .header__description {
    margin-bottom: 0px;
  }

  .dark_theme_decorative_element {
    right: 19px;
    top: 11px;
  }

  .decorated-zone::before {
    right: 10px;
    top: 10px;
  }

  .decorated-zone::after {
    top: 633px;
    left: 10px;
  }

  .header__theme-menu {
    margin-block-end: 15px;
  }

  .reasons__section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-block-end: 50px;
  }

  .low__concentration__section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-block-end: 50px;
  }

  .adviсes__section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block-end: 50px;
  }

  .adviсes__section .section__heading {
    margin-block-end: 11px;
  }

  .images__section {
    display: flex;
    flex-direction: column;
    margin-block-start: 10px;
    gap: 10px;
    margin-block-end: 40px;
  }

  .footer {
    min-block-size: 668px;
  }
}
